nav.genres
  ul
    li: button.active TODO <span>16</span>
    li: button ACCIÓN <span>05</span>
    li: button DRAMA <span>04</span>
    li: button SCY-FI <span>02</span>
    li: button CRIMEN <span>03</span>
    li: button TERROR <span>02</span>   
