section#shows
  article.grid
    figure.effect-jazz
      img(src="./images/series/1.jpg" alt="Imagen")
      figcaption
        h2 Breaking Bad
        p.
          Ver información completa
        a(href="./series.html") Ir        
  article.grid
    figure.effect-jazz
      img(src="./images/series/2.jpg" alt="Imagen")
      figcaption
        h2 Castle
        p.
          Ver información completa
        a(href="./series.html") Ir
  article.grid
    figure.effect-jazz
      img(src="./images/series/3.jpg" alt="Imagen")
      figcaption
        h2 Película
        p.
          Ver información completa
        a(href="./series.html") Ir        
  article.grid
    figure.effect-jazz
      img(src="./images/series/4.jpg" alt="Imagen")
      figcaption
        h2 24
        p.
          Ver información completa
        a(href="./series.html") Ir
  article.grid
    figure.effect-jazz
      img(src="./images/series/5.jpg" alt="Imagen")
      figcaption
        h2 Criminal Minds
        p.
          Ver información completa
        a(href="./series.html") Ir        
  article.grid
    figure.effect-jazz
      img(src="./images/series/6.jpg" alt="Imagen")
      figcaption
        h2 CSI
        p.
          Ver información completa
        a(href="./series.html") Ir
  article.grid
    figure.effect-jazz
      img(src="./images/series/7.jpg" alt="Imagen")
      figcaption
        h2 CSI CY
        p.
          Ver información completa
        a(href="./series.html") Ir        
  article.grid
    figure.effect-jazz
      img(src="./images/series/8.jpg" alt="Imagen")
      figcaption
        h2 CSI M
        p.
          Ver información completa
        a(href="./series.html") Ir
  article.grid
    figure.effect-jazz
      img(src="./images/series/9.jpg" alt="Imagen")
      figcaption
        h2 CSI NY
        p.
          Ver información completa
        a(href="./series.html") Ir        
  article.grid
    figure.effect-jazz
      img(src="./images/series/10.jpg" alt="Imagen")
      figcaption
        h2 Hannibal
        p.
          Ver información completa
        a(href="./series.html") Ir
  article.grid
    figure.effect-jazz
      img(src="./images/series/11.jpg" alt="Imagen")
      figcaption
        h2 Helix
        p.
          Ver información completa
        a(href="./series.html") Ir        
  article.grid
    figure.effect-jazz
      img(src="./images/series/12.jpg" alt="Imagen")
      figcaption
        h2 Intelligence
        p.
          Ver información completa
        a(href="./series.html") Ir
  article.grid
    figure.effect-jazz
      img(src="./images/series/13.jpg" alt="Imagen")
      figcaption
        h2 Mariachi
        p.
          Ver información completa
        a(href="./series.html") Ir        
  article.grid
    figure.effect-jazz
      img(src="./images/series/14.jpg" alt="Imagen")
      figcaption
        h2 Mys
        p.
          Ver información completa
        a(href="./series.html") Ir
  article.grid
    figure.effect-jazz
      img(src="./images/series/15.jpg" alt="Imagen")
      figcaption
        h2 Ncis
        p.
          Ver información completa
        a(href="./series.html") Ir        
  article.grid
    figure.effect-jazz
      img(src="./images/series/16.jpg" alt="Imagen")
      figcaption
        h2 Perception
        p.
          Ver información completa
        a(href="./series.html") Ir
