header
  figure
    img(src="./images/logo.png", alt="logo")
  nav
    ul
      li: a(href="#series") Programación
      li: a(href="#hours") Horario
      li: a(href="./news.html") Noticias
      li: a(href="./media.html") Media
      li: a(href="./games.html") Juegos y Más
      li: a(href="./sap.html") SAP
      li: span.icon-search
